<ion-view view-title="{{pageName}}百科详情">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

     </ion-nav-buttons>

  	<ion-content>
  		<div class="list_box">
            <div class="item_list_box">{{item.content}}</div>    
        </div>

        <div class="list_box">
            <div ng-repeat="item in item.fujian">
                <img ng-click="previewImg($index)" src="{{item.fujianPath}}"/>
            </div>
        </div>
  	</ion-content>
</ion-view>