<ion-view view-title="珠宝百科">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

	<ion-nav-buttons side="right">
      <a href="#/work/cyclopedia/add" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

  	<ion-content>
        <div class="padding">
            <div class="block_baike_moke">
                <div class="row">
                    <a class="col col-40 item_baike" href="#/work/cyclopedia/list/1" style="background: #f19149;">黄金</a>
                    <a class="col col-30 item_baike" href="#/work/cyclopedia/list/2" style="background: #facd89;">K金</a>
                    <a class="col col-30 item_baike" href="#/work/cyclopedia/list/3" style="background: #c9c9c9;">铂金</a>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <div class="row">
                            <a class="col item_baike p_t_b" href="#/work/cyclopedia/list/4" style="background: #00a0e9;">钻石</a>
                        </div>
                        <div class="row">
                            <a class="col item_baike p_t_b" href="#/work/cyclopedia/list/9" style="background: #8f82bc;">水晶石</a>
                        </div>
                    </div>
                    <div class="col col-70">
                        <div class="row">
                            <a class="col col-60 item_baike" href="#/work/cyclopedia/list/5" style="background: #009944;">玉石</a>
                            <a class="col col-30 item_baike" href="#/work/cyclopedia/list/6" style="background: #dcdcdc;">银饰</a>
                        </div>
                        <div class="row">
                            <a class="col col-30 item_baike" href="#/work/cyclopedia/list/7" style="background: #009944;">金壤玉</a>
                            <a class="col col-60 item_baike" href="#/work/cyclopedia/list/8" style="background: #486a00;">璧玺</a>
                        </div>
                        <div class="row">
                            <a class="col col-30 item_baike" href="#/work/cyclopedia/list/10" style="background: #626262;">人造石</a>
                            <a class="col col-60 item_baike" href="#/work/cyclopedia/list/11" style="background: #b3d465;">葡萄石</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="block_baike_moke">
                <div class="row">
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/12" style="background: #66a0d5;">蓝宝石</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/13" style="background: #d34f7a;">红宝石</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/14" style="background: #bc59b2;">石榴石</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/15" style="background: #f29c9f;">芙蓉石</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/16" style="background: #c9c9c9;">珍珠</a>
                </div>
                <div class="row">
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/17" style="background: #d35555;">玛瑙石</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/18" style="background: #f0aa36;">蜜蜡</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/19" style="background: #84ccc9;">珊瑚</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/20" style="background: #ffc265;">琥珀</a>
                    <a class="col item_baike_m" href="#/work/cyclopedia/list/21" style="background: #a9834b;">猫眼石</a>
                </div>
            </div>
        </div>
  	</ion-content>
</ion-view>
