<ion-view view-title="珠宝百科">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

	<ion-nav-buttons side="right">
      <a href="#/work/client/create" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

  	<ion-content>
        <div class="padding">
            <div class="block_baike_moke">
                <a href="javascript:;" ng-repeat="item in blockData" class="item_baike" style="{{item.style}}">
                    {{item.name}}
                </a>
            </div>
        </div>
  	</ion-content>
</ion-view>
