<ion-view view-title="{{item.name}}百科">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

	<ion-nav-buttons side="right">
      <a href="#/work/cyclopedia/add" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

  	<ion-content>
      <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
  		<div class="list_box padding_btm" ng-repeat="item in items">
            <a href="#/work/cyclopedia/details/{{item.id}}" class="item_list_box">
                <img src="{{item.coverPath}}" />{{item.title}}
            </a>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
  	</ion-content>
</ion-view>
