<ion-view view-title="{{pageName}}百科列表">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

  	<ion-content>
      <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
  		<div class="list_box margin_btm_small padding" ng-repeat="item in items">
            <a href="#/work/cyclopedia/details/{{item.id}}" class="item_list_box" style="border-radius: 8px;">
                <p class="title" style="font-weight: bold;display: inline-block;">{{item.title}}</p>
                <img src="{{item.coverPath}}" />
                <p class="info border_btm" style="padding-bottom: 5px;margin-bottom: 5px;">{{item._content}}</p>
                <p class="info" style="color: #c6c6c6;">查看全文</p>
            </a>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
  	</ion-content>
</ion-view>
