<ion-view view-title="商机详情">
    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-light"></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="list_box padding_tb">
            <div class="purple_bg_title">
                <div class="row padding_btm_small">
                    <div class="col f14">{{item.customer.name}}</div>
                    <div class="col col-67 f14">{{item.name}}</div>
                    
                </div>
                <div class="row padding_btm_small">
                    <div class="col f14">{{item.customer.customerType.name}}</div>
                    <div class="col col-67 f14">微信号：{{item.customer.weChat}}</div>
                </div>
                <div class="row">
                    <div class="col f14">{{item.customer.telephone}}</div>
                    <div class="col col-67 f14">最后消费时间：{{item._lastConsumptionTime}}</div>
                </div>
            </div>
            <div class="tab_box">
                <div class="row">
                    <a href="javascript:;" ng-click="checkTab(0)" ng-class="{'tab_btn_active': isShowTab0}" class="col padding_tb tab_btn">跟进记录({{followItems.length || 0}})</a>
                    <a href="javascript:;" ng-click="checkTab(1)" ng-class="{'tab_btn_active': isShowTab1}" class="col padding_tb tab_btn">消费记录({{consumptionItems.length || 0}})</a>
                </div>
            </div>

            <div class="list">
                <div class="item item-icon-right">
                    销售阶段
                    <span class="item-note">{{item.salesPhase.name}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>

            <div class="list">
                <div class="item item-icon-right">
                    跟进人
                    <span class="item-note">{{item.creater.name}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>

            

            <div ng-show="isShowTab0">
                <div class="notData" ng-if="notFollowListData">{{notFollowListData}}</div>

                <div class="item_list_box" ng-if="followItems.length" ng-repeat="item in followItems">
                    <div class="row">
                        <div class="col col-20 left_icon_box">
                            <span class="name_box">{{item.nickname}}</span>
                        </div>
                        <div class="col col-67">
                            <p class="title f14">跟进人：{{item.creater.name}}</p>
                            <p class="info">{{item._followUpTime}}</p>
                        </div>
                        <div class="col text_align_right">
                            <a ng-click="editFollow(item)" href="javascript:;" ng-if="!item.isEdit" class="colorPurple">编辑</a>
                            <a href="javascript:;" ng-click="updateFollow(item)" class="colorPurple" ng-if="item.isEdit">保存</a>
                        </div>
                    </div>
                    <div class="padding_tb">
                        <p class="title" ng-if="!item.isEdit">{{item.content}}</p>
                        <textarea ng-model="item.content" ng-if="item.isEdit">{{item.content}}</textarea>
                    </div>
                </div>

                <div ng-if="isHasAddFollow">
                    <div class="text_align_right padding_around">
                        <a class="colorPurple" href="javascript:;" ng-click="createFollow()">保存</a>
                    </div>
                    <div class="item_list_box">
                        <div>
                            <textarea placeholder="请输入跟进内容" ng-model="followData.content"></textarea>
                        </div>
                    </div>
                </div>
                
                <div>
                    <button ng-click="showAddFollow()" class="button button-full button-light colorPurple">添加跟进记录+</button>
                </div>
            </div>
            <div ng-show="isShowTab1">
                <div class="notData" ng-if="notConsumptionListData">{{notConsumptionListData}}</div>
                <div class="item_list_box" ng-repeat="item in consumptionItems">
                    <div class="row">
                        <div class="col col-20 left_icon_box">
                            <span class="name_box">{{item.nickname}}</span>
                        </div>
                        <div class="col col-80">
                            <p class="title f14">导购员：{{item.creater.name}}</p>
                            <p class="info">{{item._consumptionTime}}</p>
                        </div>
                    </div>
                    <div class="padding_tb">
                        <div class="row padding_btm_small">
                            <div class="col col-20">&nbsp;</div>
                            <div class="col">
                                <p class="title 14">品名：{{item.name}}</p>
                            </div>
                            
                        </div>
                        <div class="row padding_btm_small">
                            <div class="col col-20">&nbsp;</div>
                            <div class="col">
                                <p class="title f14">标价：&yen;{{item.price}}</p>
                            </div>
                            <div class="col">
                                <p class="title f14">折扣：{{item.discount}}折</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-20">&nbsp;</div>
                            <div class="col">
                                <p class="title f14">结算价：&yen;{{item.settlementPrice}}</p>
                            </div>
                            <div class="col">
                                <p class="title f14">方式：{{item.consumptionMode.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>