<ion-view view-title="修改商机">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="submit()" class="button button-clear button-positive">保存</a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list card list_box">
            <label class="item item-input">
                <span class="input-label">商机名称</span>
                <input type="text" ng-model="data.name" placeholder="请输入姓名">
            </label>
        </div>

        <div class="list">
            <div class="item item-icon-right">
                客户姓名
                <span class="item-note">请选择</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>

        <div class="list">
            <div class="item item-icon-right" ng-click="showSeleMarket()">
                销售阶段
                <span class="item-note">{{seleMarket}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <textarea placeholder="请输入内容" ng-model="data.content"></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>