<ion-view view-title="商机">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

	<ion-nav-buttons side="right">
      <a href="#/work/opportunity/create" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

  	<ion-content>
        <div class="tab_box">
            <div class="row">
                <a href="javascript:;" ng-click="checkTab(0)" ng-class="{'tab_btn_active': isShowTab0}" class="col padding_tb tab_btn">潜跟客户</a>
                <a href="javascript:;" ng-click="checkTab(1)" ng-class="{'tab_btn_active': isShowTab1}" class="col padding_tb tab_btn">沉睡客户</a>
                <a href="javascript:;" ng-click="checkTab(2)" ng-class="{'tab_btn_active': isShowTab2}" class="col padding_tb tab_btn">可能的机会</a>
            </div>
        </div>

  		<div class="kd_nav_filter">
            <div class="padding_around row">
                <div class="kd_sele_box col col-20" ng-if="!isShowTab2">
                    <div ng-click="toggleSele('phases')" class="kd_sele_val">{{selePhasesInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowPhasesSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-click="selePhasesHandle(item)" ng-repeat="item in selePhases">{{item.name}}</a>
                        </div>
                    </div>
                </div>

                <div class="kd_sele_box col col-20 kd_m">
                    <div ng-click="toggleSele('star')" class="kd_sele_val">{{seleStarInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowStarSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-click="seleStarHandle(item)" ng-repeat="item in seleStar">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                
                <div class="col search_purple" ng-if="isSearch">
                    <div class="bar search_box bar-header item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="搜索" />
                        </label>
                    </div>
                </div>
            </div>
  		</div>
        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
        <div class="list_box">
            <a href="#/work/opportunity/details/{{item.id}}" class="item_list_box" ng-repeat="item in items">
                <div ng-if="!isShowTab2">
                    <h2 class="title padding_btm_small">{{item.name}}</h2>
                    <div class="row">
                        <div class="col">
                            <p class="title f14">{{item.customer.name}}</p>
                            <p class="colorPurple">{{item.salesPhase.name}}</p>
                        </div>
                        <div class="col">
                            <P class="info">{{item.customer.telephone}}</P>
                            <p class="colorPurple">{{item._lastFollowUpTime}}</p>
                        </div>
                        <div class="col">
                            <p>&nbsp;</p>
                            <p class="colorPurple">{{item._star}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="isShowTab2">
                    <div class="row">
                        <div class="col">
                            <p class="title f14">{{item.customer.name}}</p>
                            <p class="info">{{item.customer.telephone}}</p>
                        </div>
                        <div class="col col-50">
                            <p class="colorPurple info">最后消费：{{item._lastConsumptionTime}}</p>
                            <p class="info">微信：{{item.customer.weChat}}</p>
                        </div>
                        <div class="col">
                            <p>&nbsp;</p>
                            <p class="colorPurple info">{{item._star}}</p>
                        </div>
                    </div>
                    <div class="info">最近购买：{{item.name}}</div>
                </div>
            </a>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
  	</ion-content>
</ion-view>
