<ion-view view-title="发布通知">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" class="button button-clear button-positive">保存</a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list">
            <a href="#/work/notify/seleSection" class="item item-icon-right">
              发送
              <span class="item-note">请选择</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <label class="item item-input">
                <span class="input-label">标题</span>
                <input type="password" placeholder="请输入标题">
            </label>
            <div class="item">
                <textarea placeholder="请输入日程内容"></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>