<ion-view view-title="通知详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
        <div>
            <h2>通知：关于首饰回升袭击调整</h2>
            <span>才黎明 03－22 12:33</span>
            <span>通知：全部员工</span>
        </div>
        <div>
            急死人，公司全体人员，紧张通过山坡人员思议购买黄金珠宝，已经发现，后果自负
        </div>
        <div>
            28人查看
        </div>
	</ion-content>
</ion-view>