<ion-view view-title="通知详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box">
            <div class="item_list_box">
                <div>
                    <h2 class="title">通知：关于首饰回升袭击调整</h2>
                    <p class="info">才黎明 03－22 12:33</p>
                    <p class="info">通知：全部员工</p>
                </div>
                <div class="padding_tb">
                    古代的许多作家都曾经试图全面地记录人类的所有知识。但是，约翰·哈里斯才认为是第一个创立了现代意义上的百科全书。1929年，随着第14版的问世，大英百科更投入大量人力与物力，邀集近140个国家和地区的4000位学者专家参与撰述，大量收录欧洲以外地区的资料，完成全部二十四册的第十四版，确立了它在百科全书界中最崇高、最具权威的地位。
                </div>
                <div class="details_img_thumbnail clearfix">
                    <img src="img/ben.png"/>
                    <img src="img/mike.png"/>
                </div>
                <div class="text_align_right">
                    28人查看
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>