<ion-view view-title="编辑通知">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="submit()" class="button button-clear button-royal">保存</a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list padding_tb" style="margin: 0;">
            <a href="#/common/seleSection/1" class="item item-icon-right">
              发送
              <span class="item-note">{{seleSendName}}</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <label class="item item-input">
                <span class="input-label">标题</span>
                <input type="text" placeholder="请输入标题" ng-model="data.title">
            </label>
            <div class="item">
                <textarea placeholder="请输入内容..." ng-model="data.description"></textarea>
            </div>
        </div>

        <div class="list_box" ng-if="data.fujian.length">
            <div class="item_list_box">
                <div class="details_img_thumbnail clearfix">
                    <span ng-repeat="fujianImg in data.fujian">
                        <img src="{{fujianImg.fujianPath}}"/>
                    </span>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>