<ion-view view-title="通知">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list_box">
            <a href="#/work/notify/details/{{item.id}}" class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col col-10 left_icon_box">
                        <span class="list_icon_box">
                            <span class="name_box" ng-if="!item.head">伟</span>
                            <img src="img/perry.png" ng-if="item.head" class="head_name" />
                        </span>
                        <span class="red-point"></span>
                    </div>
                    <div class="col col-80">
                        <h2 class="title">{{item.title}}</h2>
                        <p class="info">{{item.tips}}</p>
                    </div>
                    <div class="col text_align_right">
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                </div>
            </a>
        </div>
	</ion-content>
</ion-view>