<ion-view view-title="签到记录">
    <style type="text/css">
        .backdrop{
            display: none;
        }
        .popup-container{
            bottom: auto;
            top: 75px;
        }
        .popup-container .popup{
            width: 95%;
        }
        .ionic_datepicker_popup .popup-buttons{
            display: none;
        }
        .popup-open, .popup-open.modal-open .modal{
            pointer-events: auto;
        }
        .action-sheet-backdrop{
            z-index: 15;
        }
    </style>

	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div style="height: 340px;"></div>
        <div class="padding colorGrey">{{data.searchDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</div>
        <div class="list_box">
            <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
            <div class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col col-20 text_align_center">
                        <span class="name_box">{{nickname}}</span>
                    </div>
                    <div class="col col-70">
                        <div class="row">
                            <div class="col col-25">
                                <h2 class="title">{{name}}</h2>
                            </div>
                            <div class="col">
                                <p class="info" ng-class="{'colorRed': item._qianDaoRight}">{{item._qianDaoType}}/{{item.qianDaoTime}}</p>
                            </div>
                        </div>
                        
                        <p class="info" ng-if="item.qianDaoPlace">地址：{{item.qianDaoPlace}}</p>

                        <div class="row" ng-if="item.qianDaoReason">
                            <div class="col col-67">
                                <p class="info">备注：{{item.qianDaoReason}}</p>
                            </div>
                            <div class="col text_align_right" ng-if="item.isApply">
                                <a href="javascript:;" class="colorPurple" ng-click="apply(item)">审批</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>