<ion-view view-title="签到记录-{{item.name}}">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div>
            <ionic-datepicker ng-click="openDatePicker()">
          <!--<button class="button button-block button-positive"> {{datepickerObjectEnd.inputDate |-->
          <!--date:datepickerObjectEnd.dateFormat}}-->
          <!--</button>-->
           222
            </ionic-datepicker>
            <!-- <button ng-click="openDatePicker()">11</button> -->
        </div>
        <div class="list_box">
            <a href="javascript:;" class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col col-20 text_align_center">
                        <span class="name_box">{{item.nickname}}</span>
                    </div>
                    <div class="col col-70">
                        <h2 class="title">{{item.name}}</h2>
                        <p class="info">{{item.position}}</p>
                    </div>
                </div>
            </a>
        </div>
	</ion-content>
</ion-view>