<ion-view view-title="签到设置">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="set()" class="button button-clear button-royal">保存</a>
    </ion-nav-buttons>

	<ion-content>
		<ul class="list padding_tb" style="margin: 0;padding-bottom: 0;">
            <li class="list">
                <a href="javascript:;" class="item item-icon-right" ng-click="showWarnType()">
                  签到提醒
                  <span class="item-note">{{data.seleWarnType.text}}</span>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </li>      
        </ul>
	</ion-content>
</ion-view>