<ion-view view-title="签到">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
    	<a href="javascript:;" ng-click="showNav()" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list">
			<a href="javascript:;" class="item item-icon-right" ng-click="showType()">
				类型
				<span class="item-note">{{seleType}}</span>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>

		<div class="shift_list">
			<div class="shift_item_list">
				<div class="row">
					<div class="col col-20">
						<div class="left_icon_box">
							<span class="left_icon now">今</span>
						</div>
					</div>
					<div class="col right_content">
						<p class="title">{{todayDate}}</p>
						<p class="info">签到时间：{{qianDaoShangBan}}</p>
					</div>
				</div>
			</div>
			<div class="shift_item_list" ng-if="! hasHistory">
				<div class="row">
					<div class="col col-20">
						<div class="left_icon_box">
							<span class="left_icon"><img class="icon_loacked" src="img/icon/sign_loacked.png"/></span>
						</div>
					</div>
					<div class="col right_content">
						<p class="info">打起精神，开启一天的工作！</p>
					</div>
				</div>
			</div>
			<div class="shift_item_list" ng-repeat="item in historiesList">
				<div class="row">
					<div class="col col-20">
						<div class="left_icon_box">
							<span class="left_icon time">{{item.qianDaoTime}}</span>
						</div>
					</div>
					<div class="col right_content">
						<p class="title"><span class="info">签到时间：</span>{{item.qianDaoTime}}</p>
						<p class="title"><span class="info">签到地点：</span>{{item.qianDaoPlace}}</p>
					</div>
				</div>
			</div>

			<div class="sign_btn_box" ng-if="hasSignIn">
				<button ng-click="sub(1)" ng-if="! hasHistory" class="button sign_btn button-royal">签到</button>
				<button ng-click="sub(2)" ng-if="hasHistory" class="button sign_btn button-positive">签退</button>
			</div>
		</div>
	</ion-content>
</ion-view>