<ion-view view-title="创建任务">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="create()" class="button button-clear button-light">创建</a>
    </ion-nav-buttons>

	<ion-content>
        <form enctype="multipart/form-data" method="post" name="fileinfo"></form>
        <div class="list">
            <div class="item item-icon-right" ng-click="seleDate()">
                截至时间
              <span class="item-note">{{data.endTime}}</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">任务标题</span>
                <input type="text" placeholder="请输入标题" ng-model="data.title">
            </label>
        </div>
        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col ">
                        <textarea placeholder="请输入内容" ng-model="data.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-icon-right" ng-click="showSeleWarn()">
                提醒
                <span class="item-note">{{seleWarn}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <div class="list">
            <a href="#/common/seleGuys/4" class="item item-icon-right">
              检查人
              <span class="item-note">{{data.inspectorId.name}}</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
		<div class="list">
            <a href="#/common/seleGuys/2" class="item item-icon-right">
              关注人
              <span class="item-note">{{data.ATTENTION_PEOPLE.name}}</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <div class="item">
                <img src="{{img}}" class="show_img" ng-repeat="img in imgList">
                <a href="javascript:;" ng-click="showSelePhoto()">
                    <img src="img/icon/plus.png" class="icon_plus" />
                </a>
            </div>
        </div>
	</ion-content>
</ion-view>