<ion-view view-title="任务审核">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
		<div>
            <div>
                内容<textarea placeholder="如果用户输入了任务提交备注。。。讨论的形式，增加一条讨论信息"></textarea>
            </div>      
        </div>
	</ion-content>
</ion-view>