<ion-view view-title="任务详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-light"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box">
            <div class="item_list_box info_f_14">
                <div class="row task_status">
                    <div class="col col-80"><p class="title">{{data.taskBasiInfo.taskTitle}}</p></div>
                    <div class="col">
                        <p class="text_align_right" ng-class="data.taskBasiInfo.status">{{data.taskBasiInfo._status}}</p>
                    </div>
                </div>
                
                <p class="info">{{data.taskBasiInfo.endTime}}</p>
            </div>
            <div class="item_list_box info_f_14">
                <p><span class="info">提醒：</span>提前{{data.taskBasiInfo.remindtime}}小时</p>
                <p><span class="info">描述：</span>{{data.taskBasiInfo.taskDescription}}</p>
            </div>
            <div class="item_list_box info_f_14">
                <p><span class="info">负责人：</span>{{data.taskBasiInfo.creatorName}}</p>
                <p><span class="info">检查人：</span>{{data.zerenrenArray[0].userName}}</p>
                <p><span class="info">关注人：</span>{{data.guangzhurenArray[0].userName}}</p>
            </div>
            <div class="item_list_box" ng-if="data.taskImageArray.length">
                <img src="{{taskImg.path}}" ng-repeat="taskImg in data.taskImageArray">
            </div>
        </div>

        <div class="padding">
            <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
            <div class="list_box">
                <div class="item_list_box" ng-repeat="comments in commentArray">
                    <div class="row">
                        <div class="col col-20 text_align_center">
                            <span class="name_box">{{comments.nickname}}</span>
                        </div>
                        <div class="col col-50">
                            <h2 class="title">{{comments.userName}}</h2>
                            <p class="info">{{comments.content}}</p>
                        </div>
                        <div class="col text_align_right">{{comments._createTime}}</div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
	</ion-content>
</ion-view>