<ion-view view-title="任务">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box">
            <div class="tab_box">
                <div class="row">
                    <div ng-click="checkTab(item)" ng-class="{'tab_btn_active': item.isShowTab}" class="col padding_tb tab_btn text_align_center" ng-repeat="item in tabs">{{item.name}}</div>
                </div>
            </div>
        </div>
        
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

        <div class="padding_tb">
            <div class="list_box">
                <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
                <a class="item_list_box task_status" ng-repeat="item in taskList" href="#/work/task_list/{{item.taskId}}/details">
                    <div class="row">
                        <div class="col col-80">
                            <h2 class="title padding_btm_small">{{item.title}}</h2>
                            <p class="info">责任人：{{item.importantName}}  截至时间：{{item._endTime}}</p>
                        </div>
                        <div class="col text_align_right">
                            <span ng-class="item.taskStatus" class="info">{{item._status}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>