<ion-view view-title="申请延期">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" class="button button-clear button-positive">申请</a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list">
            <div class="item">
                延期时间<input type="text" placeholder="请输入延期天数" />
            </div>
            <div class="item">
                <textarea placeholder="如果用户输入了任务提交备注。。。讨论的形式，增加一条讨论信息"></textarea>
            </div>      
        </div>
	</ion-content>
</ion-view>