<ion-view view-title="我">
  <ion-content>
  	<div class="list">
  		<a href="#/me/info" class="item">
  			<h2>青苔</h2>
  			<p>山野代表</p>
  		</a>
  	</div>
  	<div class="list">
		<a href="#/me/setMsg" class="item item-icon-left">
	    	<i class="icon ion-home"></i>
		    消息设置
	  	</a>
	  	<a href="#" class="item item-icon-left">
	    	<i class="icon ion-ios-list-outline"></i>
		    通讯录
	  	</a>
  	</div>
  	<div class="list">
  		<a href="#/me/about" class="item item-icon-left">
  			<i class="icon ion-ios-help"></i>
  			关于
  		</a>
  	</div>
    <div class="list">
        <a href="javascript:;" class="item button button-block button-stable">退出登录</a>
    </div>
  </ion-content>
</ion-view>
