<ion-view view-title="demo">
    <style type="text/css">
    .backdrop{
        display: none;
    }
    .popup-container{
        bottom: auto;
        top: 50px;
    }
    .popup-container .popup{
        width: 90%;
    }
    .ionic_datepicker_popup .popup-buttons{
        display: none;
    }
    .ionic_datepicker_popup .calendar_grid{
        height: auto;
    }
</style>
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-content>
        <ion-slide-box ng-if="slideImg" does-continue="true" active-slide="1">
            <ion-slide>
              <div class="box blue"><h1>BLUE</h1></div>
            </ion-slide>
            <ion-slide>
              <div class="box yellow"><h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
              <div class="box pink"><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>

        <div class="list_box">
            <div class="item_list_box">
                <div class="details_img_thumbnail">
                    <img src="{{img.imgsrc}}" ng-click="onDoubleTap($index)" ng-repeat="img in imgs">
                </div>
            </div>
        </div>

        <div>
            <div class="">
                <button ng-click="addNotification()">本地消息</button>
            </div>

            <div>
                <button ng-click="scheduleSingleNotification()">消息</button>
            </div>

            <button class="button" ng-click="startVib()">整栋</button>
            <button class="button" ng-click="date()">日期</button>
            <button class="button" ng-click="camera()">相机</button>
            <button class="button" ng-click="phone()">相册</button>
            <input type="date">
            <input type="time" >
            <div>
                <a href="#/demo/notify">激光push</a>
            </div>
        </div>
	</ion-content>
</ion-view>