<ion-view view-title="选择通知的成员">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="sub()" class="button button-clear button-positive">确定</a>
    </ion-nav-buttons>

    <ion-content>
        <div class="padding">
            <div class="bar search_box bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="搜索" />
                </label>
            </div>
        </div>

        <div class="kd_nav_filter">
            <div class="padding_around row">
                <div class="kd_sele_box col col-40">
                    <div ng-click="toggleSele('brank')" class="kd_sele_val">{{seleBrankInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowBrankSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleBrank" ng-click="seleBrankHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list_box">
            <ion-list>
        		<div ng-repeat="item in items" class="item_list_box">
                    <div class="row">
                        <div class="col col-75">
                            <ion-checkbox ng-model="item.checked">
                                {{item.name}}
                            </ion-checkbox>
                        </div>
                        <div class="col col-20 text_align_right" ng-click="toPerson(item)">
                            <span class="info">{{item.userNum}}</span>
                            <i class="icon ion-chevron-right icon-accessory"></i>
                        </div>
                    </div>
                </div>
            </ion-list>
        </div>
	</ion-content>
</ion-view>