<ion-view view-title="客户详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="showNav()" class="ion-more icon icon-accessory"></button>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box padding_tb">
            <div class="purple_bg_title">
                <div class="row">
                    <div class="col">
                        张志的
                    </div>
                    <div class="col f14">治理分析师</div>
                    <div class="col f14">初步意向</div>
                </div>
                <div class="row pt_10">
                    <div class="col f14">微信号：chu8813</div>
                    <div class="col col-67 f14">最后消费事件：2017-11-30 11:32</div>
                </div>
            </div>
            <div class="tab_box">
                <div class="row">
                    <a href="javascript:;" ng-click="checkTab(0)" class="col padding_tb tab_btn tab_btn_active">跟进记录(1)</a>
                    <a href="javascript:;" ng-click="checkTab(1)" class="col padding_tb tab_btn">消费记录(2)</a>
                </div>
            </div>
            <div ng-show="isShowTab0">
                <div class="item_list_box">
                    <div class="row">
                        <div class="col col-10 left_icon_box">
                            <span class="name_box" ng-if="!item.head">伟</span>
                            <img src="img/perry.png" ng-if="item.head" class="head_name" />
                        </div>
                        <div class="col col-80">
                            <h2 class="title f14">跟进人：蛤蟆皮</h2>
                            <p class="info">2017-08-20 12:33</p>
                        </div>
                    </div>
                    <div class="padding_tb">
                        <h2 class="title">除了最新使用React Native等之外,目前首选的为稳定的ionic+Angularjs来开发iOS和...**ps:不安装的情况下就是不能在此环境下编译等,但是对于浏览器运行</h2>
                    </div>
                </div>
                <div>
                    <button class="button button-full button-light colorPurple">添加根据记录+</button>
                </div>
            </div>
            <div ng-show="isShowTab1">
                <div class="item_list_box" ng-repeat="item in items">
                    <div class="row">
                        <div class="col col-10 left_icon_box">
                            <img src="img/perry.png" class="head_name" />
                        </div>
                        <div class="col col-80">
                            <h2 class="title f14">跟进人：蛤蟆皮</h2>
                            <p class="info">2017-08-20 12:33</p>
                        </div>
                    </div>
                    <div class="padding_tb">
                        <div class="row">
                            <div class="col col-10">&nbsp;</div>
                            <div class="col">
                                品名：18k金钻石耳钉
                            </div>
                            <div class="col">方式：兑换</div>
                        </div>
                        <div class="row">
                            <div class="col col-10">&nbsp;</div>
                            <div class="col">标价：&yen;6000</div>
                            <div class="col">折扣：9折</div>
                        </div>
                        <div class="row">
                            <div class="col col-10">&nbsp;</div>
                            <div class="col">结算价：&yen;5400</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>