<ion-view view-title="客户详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="showNav()" class="ion-more icon icon-accessory"></button>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box padding_tb">
            <div class="purple_bg_title">
                <div class="row">
                    <div class="col">
                        张志的
                    </div>
                    <div class="col f14">治理分析师</div>
                    <div class="col f14">初步意向</div>
                </div>
                <div class="row pt_10">
                    <div class="col f14">微信号：chu8813</div>
                    <div class="col col-67 f14">最后消费事件：2017-11-30 11:32</div>
                </div>
            </div>
            <div class="tab_box">
                <div class="row">
                    <a href="javascript:;" class="col">跟进记录</a>
                    <a href="javascript:;" class="col">消费记录</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>