<ion-view view-title="客户管理" hide-nav-bar="isSearchVal">

    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>

        </ion-nav-buttons>

	<ion-nav-buttons side="right">
      <a href="#/work/client/create" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

  	<ion-content>
        <div ng-if="isSearchVal" class="padding_btm_small">
            <form action="javascript:return true;">
                <ion-header-bar class="item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" id="js_search" ng-blur="handleSearch()" placeholder="搜索" ng-model="data.keyword"/>
                    </label>
                    <button class="button button-light" ng-click="cancelSearch()">取消</button>
                </ion-header-bar>
            </form>
        </div>
        
        <div class="bar item-input-inset" ng-if="isSearchTxt">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-focus="showSearch()" ng-model="data.keyword" type="search" placeholder="搜索">
            </label>
        </div>
        
  		<div class="kd_nav_filter">
            <div class="padding_around row">
      			<div class="kd_sele_box col col-15">
      				<div ng-click="toggleSele('star')" class="kd_sele_val">{{seleStarInfo}}<i class="ion-arrow-down-b"></i></div>
      				<div class="kd_sele_content" ng-show="isShowStarSele">
      					<i class="ion-arrow-up-b kd_sele_arrow"></i>
      					<div class="kd_sele_item">
      						<a href="javascript:;" ng-click="seleStarHandle(item)" ng-repeat="item in seleStar">{{item.name}}</a>
      					</div>
      				</div>
      			</div>
                <div class="kd_sele_box col col-25 kd_m">
                    <div ng-click="toggleSele('period')" class="kd_sele_val">{{selePeriodInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowPeriodSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-click="selePeriodHandle(item)" ng-repeat="item in selePeriod">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col col-25">
                    <div ng-click="toggleSele('frequency')" class="kd_sele_val">{{seleFrequencyInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowFrequencySele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-click="seleFrequencyHandle(item)" ng-repeat="item in seleFrequency">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col col-20 kd_m">
                    <div ng-click="toggleSele('amount')" class="kd_sele_val">{{seleAmountInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowAmountSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-click="seleAmountHandle(item)" ng-repeat="item in seleAmount">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
  		</div>
        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
        <div class="list_box">
            <a href="#/work/client/details/{{item.id}}" class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col">
                        <p class="title">{{item.name}}</p>
                        <P class="info">{{item.telephone}}</P>
                    </div>
                    <div class="col">
                        <p class="title">&nbsp;</p>
                        <p class="colorPurple f14">{{item._lastConsumptionTime}}</p>
                    </div>
                    <div class="col">
                        <p class="title">&nbsp;</p>
                        <p class="colorPurple f14">{{item._star}}</p>
                    </div>
                </div>
            </a>
            <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
        </div>
  	</ion-content>
</ion-view>
