<ion-view view-title="找回密码">
    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" class="button button-clear button-positive" ng-click="handleCode()">下一步</a>
    </ion-nav-buttons>

    <ion-content>
        <div class="padding_tb">
            <div class="import_box">
                <div class="padding_around">
                    <div class="border_btm row">
                        <div class="col">
                            <input type="text" maxlength="11" name="mobile" placeholder="请输入手机号" ng-model="data.mobile" />
                        </div>
                        <div class="col text_align_right"><a class="input_btn" ng-click="sendCode()" href="javascript:;">获取验证码</a></div>
                    </div>
                    <div>
                        <input type="text" maxlength="6" name="code" placeholder="请输入短信中的验证码" ng-model="data.code" />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

