<ion-view view-title="修改密码">
  <ion-nav-buttons side="left">  
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="请输入6～10位密码数字、字母字符组成" ng-model="data.npassword">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="请再输入密码" ng-model="data.cpassword">
          </label>
      </div>
  </ion-content>
</ion-view>
