<ion-view view-title="创建日程">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="submit()" class="button button-clear button-positive">保存</a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">标题</span>
                <input type="text" placeholder="请输入标题" ng-model="data.title">
            </label>
        </div>
        <div class="list">
            <div class="item">
                <textarea placeholder="请输入日程内容" ng-model="data.content"></textarea>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">时间</span>
                <input type="datetime" class="text_align_right" placeholder="请选择时间"/>
            </label>
            <div class="item item-icon-right" ng-click="showSeleRepeat()">
                重复
                <span class="item-note">{{seleRepeat}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <div class="list">
            <a href="#common/seleSection/2" class="item item-icon-right">
                成员
                <span class="item-note">{{seleSendName}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
		<div class="list">
            <div class="item item-icon-right" ng-click="showSeleWarn()">
                提醒
                <span class="item-note">{{seleWarn}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
	</ion-content>
</ion-view>