<ion-view view-title="日程详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="showNav()" class="ion-more icon icon-accessory"></button>
    </ion-nav-buttons>

	<ion-content>
        <div class="list">
            <div class="item">
                <h2>{{item.time}}</h2>
                <p>{{item.target}} 安排的日程</p>
            </div>
            <div class="item">
                <h2>{{item.remark}}</h2>
            </div>
            <div class="item">
                <p>日程人员：{{item.personnel}}</p>
            </div>
        </div>
    </ion-content>

    <div ng-click="quit()" class="bar bar-stable bar-footer">
        <div class="title">退出日程</div>
    </div>
</ion-view>