<ion-view view-title="日程详情">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="showNav()" class="ion-more icon icon-accessory"></button>
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box">
            <div class="purple_bg_title">
                <p>{{item._time}}</p>
                <p class="f14">{{item.userName}} 安排的日程</p>
            </div>
            <div class="schedele_details item_list_box">
                <div class="schedule_content">
                    {{item.riChengContent}}
                </div>
            </div>
            
            <div class="padding_tb padding_around">
                <p class="info">日程人员：{{relationGuys}}</p>
            </div>
        </div>
    </ion-content>

    <div ng-click="quit()" class="bar bar-stable bar-footer">
        <div class="title colorRed">退出日程</div>
    </div>
</ion-view>