<ion-view view-title="日程提醒">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="showNav()" class="ion-plus icon icon-accessory"></button>
    </ion-nav-buttons>

	<ion-content>
        <div class="list">
            <div class="item item-icon-right">
              我安排的日程
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
            <a href="#/work/schedule/{{item.id}}" class="item" ng-repeat="item in items">
                <p>{{item.time}}</p>
                <h2>{{item.tips}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>