<ion-view view-title="日程提醒">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/work/schedule_add" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list padding_tb" style="margin: 0;padding-bottom: 0;">
            <a href="#/work/schedule_my" class="item item-icon-right">
              我安排的日程
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list_box">
            <div class="list_type_title padding_around">收到的日程</div>
            <a href="#/work/schedule/{{item.riChengId}}" class="item_list_box" ng-repeat="item in items">
                <p class="colorRed info">{{item._beginTime}}</p>
                <h2 class="title">{{item.title}}</h2>
            </a>
        </div>
        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
    </ion-content>
</ion-view>