<ion-view view-title="我安排的日程">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/work/schedule_add" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

	<ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list_box">
            <a href="#/work/schedule/{{item.id}}" class="item_list_box" ng-repeat="item in items">
                <p class="colorRed info">{{item._beginTime}}</p>
                <p class="title">{{item.title}}</p>
            </a>
        </div>
        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
    </ion-content>
</ion-view>