<ion-view view-title="值班查询">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">销售</div>
            <div class="item">
                <p>{{data.sellTaget}}</p>
                <p class="colorPurple padding_tb">{{data.sellResult}}</p>
            </div>
        </div>

        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">服务</div>
            <div class="item">
                <p>{{data.serviceTaget}}</p>
                <p class="colorPurple padding_tb">{{data.serviceResult}}</p>
            </div>
        </div>

        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">运营</div>
            <div class="item">
                <p>{{data.manageTaget}}</p>
                <p class="colorPurple padding_tb">{{data.manageResult}}</p>
            </div>
        </div>

        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">其他</div>
            <div class="item">
                <p>{{data.otherTaget}}</p>
                <p class="colorPurple padding_tb">{{data.otherResult}}</p>
            </div>
        </div>

        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">检查</div>
            <div class="item">
                <p>{{data.sellTaget}}</p>
                <p class="colorPurple padding_tb">{{data.sellResult}}</p>
            </div>
        </div>
	</ion-content>
</ion-view>