<ion-view view-title="值班">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="#/work/onDuty/query" class="button button-clear button-positive">查看</a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list">
            <div class="item">
                <h2>每日对橱柜检查</h2>
                <p>全区基础设施建设</p>
            </div>
            <div class="item item-icon-right">
                <a href="#/work/onDuty/setting" class="button button-royal">目的设定</a>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-right">
                <button class="button button-royal">值班检查</button>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-right">
                <button class="button button-royal">目标跟进</button>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>