<ion-view view-title="值班">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="#/work/onDuty/query" class="button button-clear button-royal">查看</a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list padding_tb">
            <div class="item item-icon-right" ng-click="seleDate()">
                日期
                <span class="item-note">{{data.date}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>

        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>

        <div class="list_box">
            <div class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col col-20 text_align_center">
                        <span class="list_icon_box">
                            <span class="name_box" style="background: #a4a4a4;">{{item.startTime}}</span>
                        </span>
                    </div>
                    <div class="col">
                        <div ng-if="item.type == 1">
                            <p>{{item.name}}</p>
                            <p class="info">{{item.regionName}}</p>
                        </div>
                        <div ng-if="item.type == 2">
                            <div class="item-icon-right">
                                <a href="#/work/onDuty/check/{{scheduleID}}_{{item.id}}" class="button button-royal">值班检查</a>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                            </div>
                        </div>
                        <div ng-if="item.type == 3">
                            <div class="item-icon-right">
                                <a href="#/work/onDuty/setting/{{scheduleID}}" class="button button-royal">目的设定</a>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                            </div>
                        </div>
                        <div ng-if="item.type == 4">
                            <div class="item-icon-right">
                                <a href="#/work/onDuty/follow/{{scheduleID}}" class="button button-royal">目标跟进</a>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>