<ion-view view-title="值班查询">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div class="kd_nav_filter">
            <div class="padding_around row">
                <div class="kd_sele_box col col-20">
                    <div ng-click="toggleSele('brank')" class="kd_sele_val">{{seleBrankInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowBrankSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleBrank" ng-click="seleBrankHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col col-20 kd_m">
                    <div ng-click="toggleSele('department')" class="kd_sele_val">{{seleDepartmentInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDepartmentSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>

                        <div class="kd_sele_item">
                            <ion-scroll zooming="true" direction="y" style="max-height: 200px">
                                <a href="javascript:;" ng-click="seleDepartmentHandle(item)" ng-repeat="item in seleDepartment">{{item.name}}</a>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col col-20">
                    <div ng-click="toggleSele('date')" class="kd_sele_val">{{seleDateInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDateSele" style="left: 15%;">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleDate" ng-click="seleDateHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding_btm_small"></div>

        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>

        <div class="list" ng-repeat="item in items">
            <a href="#/work/onDuty/query/details/{{item.id}}" class="item">
                <div class="row">
                    <div class="col col-67">
                        <h2>{{item.deptName}} 值班人：{{item.userName}}</h2>
                    </div>
                    <div class="col text_align_right">
                        <p class="colorRed">{{item.workDate}}</p>
                    </div>
                </div>

                <p>{{item.sellTaget}}</p>
                <p class="colorPurple padding_tb">{{item.sellResult}}</p>
            </a>
        </div>
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
	</ion-content>
</ion-view>