<ion-view view-title="目的设定">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" class="button button-clear button-positive">保存</a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list">
            <div class="item">
                <h2>销售目标</h2>
                <div>
                    <textarea></textarea>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>