<ion-view view-title="目的设定">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="sub()" class="button button-clear button-royal">保存</a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list_box">
            <div class="padding_around padding_tb list_type_title">销售目标</div>
            <div class="item">
                <div>
                    <textarea ng-model="data.sellTaget" placeholder="请输入销售目标"></textarea>
                </div>
            </div>
        </div>
        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">服务目标</div>
            <div class="item">
                <div>
                    <textarea ng-model="data.serviceTaget" placeholder="请输入服务目标"></textarea>
                </div>
            </div>
        </div>
        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">运营目标</div>
            <div class="item">
                <div>
                    <textarea ng-model="data.manageTaget" placeholder="请输入运营目标"></textarea>
                </div>
            </div>
        </div>
        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">其他事项</div>
            <div class="item">
                <div>
                    <textarea ng-model="data.otherTaget" placeholder="请输入其他事项"></textarea>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>