<ion-view view-title="个人信息">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div class="list list_box padding_tb">
        	<div class="item item-avatar" ng-click="showSelePhoto()">
                头像
                <img src="img/adam.jpg" id="myImage" class="head_right_box" />
            </div>
            <div class="item" ng-click="showPopup('name')">
                姓名<span class="item-note">{{item.name}}</span>
            </div>
            <div class="item">
                手机号<span class="item-note">{{item.mobile}}</span>
            </div>
        </div>
        <div class="list list_box padding_tb">
            <div class="item">
                邮箱<span class="item-note">{{item.email}}</span>
            </div>
            <div class="item" ng-click="showPopup('address')">
                地址<span class="item-note">{{item.address}}</span>
            </div>
        </div>
	</ion-content>
</ion-view>