<ion-view view-title="个人信息">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div class="list list_box padding_tb">
        	<div class="item item-avatar">
                头像
                <img src="img/adam.jpg" class="head_right_box" />
            </div>
            <div class="item">
                姓名<span class="item-note">啥地方</span>
            </div>
            <div class="item">
                手机号<span class="item-note">14958370494</span>
            </div>
        </div>
        <div class="list list_box padding_tb">
            <div class="item">
                邮箱<span class="item-note">14958370494@qq.com</span>
            </div>
            <div class="item">
                地址<span class="item-note">大中国啥地方风；看见啥地方</span>
            </div>
        </div>
	</ion-content>
</ion-view>