<ion-view view-title="工程维修申请">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="submit()" class="button button-clear button-light">提交</a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list list_box padding_tb">
            <label class="item item-input">
                <span class="input-label">维修项</span>
                <input type="text" placeholder="请输入维修内容(必填)" ng-model="data.applicationName">
            </label>
        </div>

        <div class="list_box padding_tb">
            <div class="item">
                <textarea ng-model="data.maintainApplication.maintainReason" placeholder="请输入故障描述(必填)"></textarea>
            </div>
            <div class="item">
                <a href="javascript:;" ng-click="showSelePhoto()">
                    <img src="img/icon/plus.png" class="icon_plus" />
                </a>
            </div>
        </div>

        <form enctype="multipart/form-data" method="post" name="fileinfo"></form>

        <div class="list">
            <a href="#/common/seleGuys/801" class="item item-icon-right">
                维修人
                <span class="item-note">{{data.servicemanIdSele.name}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <a href="#/common/seleGuys/8" class="item item-icon-right">
                审批人
                <span class="item-note">{{data.clientIdSele.name}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

	</ion-content>
</ion-view>