<ion-view view-title="申请">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
		<div class="list_box">
            <a href={{item.link}} class="item_list_box" ng-repeat="item in items">
                <div class="row">
                    <div class="col col-10 left_icon_box">
                        <div class="list_icon_box">
                            <img src="{{item.icon}}" class="left_icon" />
                        </div>
                    </div>
                    <div class="col col-67">
                        <h2 class="title">{{item.name}}</h2>
                        <p class="info">{{item.tips}}</p>
                    </div>
                </div>
            </a>      
        </div>
	</ion-content>
</ion-view>