<ion-view view-title="其他审核">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
		<div class="list">
            <label class="item item-input">
                <span class="input-label">申请项</span>
                <span class="item-note">雪山之巅</span>
            </label>
        </div>

        <div class="list">
            <div class="item">
                事项原由
                <textarea placeholder="请输入(必填)">峨眉山、遂宁山。爬山需要两张途径</textarea>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <button class="icon ion-plus-circled button button-icon"></button>
            </div>
        </div>

        <div class="list">
            <div class="item item-icon-right">
                审批人
                <span class="item-note">黄牛</span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                审批原因
                <textarea></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>