<ion-view view-title="优惠{{pageName}}">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" ng-if="!isApply" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list list_box">
            <div class="item">
                <span>申请人：{{item.applicationBaseInfoJson.applicantName}}</span>
            </div>
        </div>

        <div class="list list_box padding_tb">
            <div class="item">
                <span>优惠项：{{item.applicationBaseInfoJson.applicationName}}</span>
            </div>
        </div>

        <div class="list_box padding_tb">
            <div class="item_list_box">
                <p class="title">描述项：{{item.specificApplicationArray[0].otherReason}}</p>
            </div>
        </div>

        <div class="list_box padding_tb" ng-if="item.imageInfoArray.length">
            <div class="item_list_box">
                <div class="details_img_thumbnail clearfix">
                    <span ng-repeat="fujianImg in item.imageInfoArray">
                        <img src="{{fujianImg.path}}"/>
                    </span>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item item-icon-right">
                审批人
                <span class="item-note">
                    <span ng-repeat="approval in item.approvalInfoArray">
                    {{approval.userName}}
                    </span>
                </span>
            </div>
        </div>

        <div class="list" ng-if="!isApply">
            <div class="item">
                <textarea ng-model="data.approvalReason" placeholder="请输入审批原因(必填)"></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>