<ion-view view-title="请假审批">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

	<ion-content> 
        <div class="list">
            <div class="item">
                申请人
                <span class="item-note">章小惠</span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                类型
                <span class="item-note">年假</span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                开始时间
                <span class="item-note">2017-03-15 09:00</span>
            </div>
            <div class="item">
                结束时间
                <span class="item-note">2017-03-19 19:00</span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                事项理由
                <span>家里有事，骨瓷请假两天，汪批准!</span>
            </div>
        </div>

		<div class="list">
            <div class="item item-icon-right">
                审批人
                <span class="item-note">孙红</span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                审批原因
                <textarea></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>