<ion-view view-title="采购{{pageName}}">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-light"></a>
    </ion-nav-buttons>

	<ion-content>
        <div class="list list_box padding_tb">
            <div class="item">
                <span>申请人：{{item.applicationBaseInfoJson.applicantName}}</span>
            </div>
        </div>

		<div class="list list_box">
            <div class="item">
                <span>申请项：{{item.applicationBaseInfoJson.applicationName}}</span>
            </div>
        </div>

        <div class="table_box">
            <table>
                <thead>
                    <tr>
                        <th>物品</th><th>数量</th><th>预算</th><th>说明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="specific in item.specificApplicationArray">
                        <td>{{specific.purchaseName}}</td>
                        <td>{{specific.purchaseNumber}}</td>
                        <td>{{specific.purchaseBudget}}</td>
                        <td>{{specific.purchaseDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="list_box">
            <div class="padding_around padding_tb list_type_title">总结算(<span class="colorRed">&yen;{{item.allPurchaseBudget}}</span>)</div>
        </div>
        
        <div class="list">
            <div class="item item-icon-right">
                审批人
                <span class="item-note">
                    <span ng-repeat="approval in item.approvalInfoArray">
                    {{approval.userName}}
                    </span>
                </span>
            </div>
        </div>

        <div class="list" ng-if="!isApply">
            <div class="item">
                <textarea ng-model="data.approvalReason" placeholder="请输入审批原因(必填)"></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>