<ion-view view-title="申请">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/work/apply/addlist" class="ion-plus icon icon-accessory button button-clear"></a>
    </ion-nav-buttons>

	<ion-content>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			</label>
        </div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
        	<a href="" ng-repeat="item in items" class="item">
                <h2>{{item.tips}}</h2>
                <p>{{item.date}}</p>
                <span class="right">{{item.status}}</span>
            </a>
        </div>
	</ion-content>
</ion-view>