<ion-view view-title="绩效开单">
  	<ion-content>
  		<div class="list card">
            <div class="item item-input item-select">
                <div class="input-label">
                考核对象
                </div>
                <select>
                    <option>Blue</option>
                    <option selected="">Green</option>
                    <option>Red</option>
                </select>
            </div>
        </div>

        <div class="list card">
            <label class="item item-input">
                <span class="input-label">分值</span>
                <input type="text" placeholder="请输入">
              </label>
              <label class="item item-input">
                <span class="input-label">金额</span>
                <input type="password" placeholder="0">
              </label>
              <label class="item item-input">
                <span class="input-label">PK</span>
                <input type="password" placeholder="0">
              </label>
        </div>

        <div class="list card">
            <div class="item item-input item-select">
                <div class="input-label">
                项目
                </div>
                <select>
                    <option>Blue</option>
                    <option selected="">Green</option>
                    <option>Red</option>
                </select>
            </div>
            <label class="item item-input">
                <span class="input-label">原因</span>
                <textarea placeholder="请输入原因（必填）"></textarea>
              </label>
        </div>

        <div class="list card">
            <a href="javascript:;" ng-click="getPicture()" class="ion-image"></a>
        </div>
  	</ion-content>
</ion-view>