<ion-view view-title="绩效开单">
    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="create()" class="button button-clear button-positive">保存</a>
    </ion-nav-buttons>

  	<ion-content>
        <div class="list">
            <a href="#/common/seleGuys/5" class="item item-icon-right">
              考核对象
              <span class="item-note">{{data.clientIdSele.name}}</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <div class="item item-icon-right" ng-click="showSeleProject()">
                项目
                <span class="item-note">{{data.title}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-right" ng-click="showSeleType()">
                绩效类型
                <span class="item-note">{{data.type}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>

        <div class="list card list_box">
            <label class="item item-input">
                <span class="input-label">分值</span>
                <input type="text" placeholder="请输入" ng-model="data.fenZhi">
              </label>
              <label class="item item-input">
                <span class="input-label">金额</span>
                <input type="text" placeholder="0" ng-model="data.jinE">
              </label>
              <label class="item item-input">
                <span class="input-label">PK</span>
                <input type="text" placeholder="0" ng-model="data.pk">
              </label>
        </div>

        <div class="list list_box">
            <div class="item">
                <textarea placeholder="请输入内容..." ng-model="data.content"></textarea>
            </div>
            <div class="item">
                <textarea placeholder="请输入原因..." ng-model="data.reason"></textarea>
            </div>
        </div>

        <div class="list card list_box">
            <form enctype="multipart/form-data" method="post" name="fileinfo"></form>
            <div class="item">
                <a href="javascript:;" ng-click="showSelePhoto()">
                    <img src="img/icon/plus.png" class="icon_plus" />
                </a>
            </div>
        </div>
  	</ion-content>
</ion-view>