<ion-view view-title="绩效详情－{{item.name}}">

	<ion-nav-buttons side="left">  
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
  	</ion-nav-buttons>

	<ion-content>
		<div class="list_box">
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
                        <div class="big_head">
                        	<span class="name_box" ng-if="!item.head">伟</span>
                        	<img src="img/perry.png" ng-if="item.head" class="head_name" />
                        </div>
                    </div>
                    <div class="col">
                        <h2 class="title border_btm padding_tb">考核对象：{{item.name}}</h2>
                        <h2 class="title padding_tb">考核人：系统</h2>
                    </div>
				</div>
			</div>
		</div>
		<div class="list_box padding_tb">
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">类型：</span>
					</div>
					<div class="col">
						<span class="title">扣分</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">分值：</span>
					</div>
					<div class="col">
						<span class="title">3</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">金额：</span>
					</div>
					<div class="col">
						<span class="title">0元</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">PK值：</span>
					</div>
					<div class="col">
						<span class="title">0</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">项目：</span>
					</div>
					<div class="col">
						<span class="title">铁窗处理</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">原由：</span>
					</div>
					<div class="col">
						<span class="title">任务不合格</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="details_img_thumbnail clearfix">
					<img src="img/ben.png"/>
					<img src="img/mike.png"/>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>