<ion-view view-title="绩效详情">

	<ion-nav-buttons side="left">  
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
  	</ion-nav-buttons>

	<ion-content>
		<div class="list_box">
			<div class="item_list_box">
				<div class="row">
					<div class="col col-25 text_align_center">
                        <div class="big_head">
                        	<span class="name_box">{{item.nickname}}</span>
                        </div>
                    </div>
                    <div class="col">
                        <p class="title border_btm padding_tb">考核对象：{{item.kaoHeDuiXiang}}</p>
                        <p class="title padding_tb">考核人：{{item.kaoHeRen}}</p>
                    </div>
				</div>
			</div>
		</div>
		
		<div class="list_box padding_tb">
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">类型：</span>
					</div>
					<div class="col">
						<span class="title">{{item.type}}</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">分值：</span>
					</div>
					<div class="col">
						<span class="title">{{item.fenZhi}}</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">金额：</span>
					</div>
					<div class="col">
						<span class="title">&yen;{{item.jinE}}元</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">PK值：</span>
					</div>
					<div class="col">
						<span class="title">{{item.pk}}</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">项目：</span>
					</div>
					<div class="col">
						<span class="title">{{item.title}}</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">内容：</span>
					</div>
					<div class="col">
						<span class="title">{{item.content}}</span>
					</div>
				</div>
			</div>
			<div class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">原由：</span>
					</div>
					<div class="col">
						<span class="title">{{item.reason}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="list_box">
			<div class="item_list_box" ng-if="item.pics.length">
				<div class="details_img_thumbnail clearfix">
					<img src="{{img.path}}" ng-repeat="img in item.pics"/>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>