<ion-view view-title="绩效">
	<ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-dark"></a>
    </ion-nav-buttons>

  	<ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
  		<div class="kd_nav_filter">
            <div class="padding_around row">
      			<div class="kd_sele_box col-20">
                    <div ng-click="toggleSele('brank')" class="kd_sele_val">{{seleBrankInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowBrankSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleBrank" ng-click="seleBrankHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col-25 kd_m">
                    <div ng-click="toggleSele('department')" class="kd_sele_val">{{seleDepartmentInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDepartmentSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>

                        <div class="kd_sele_item">
                            <ion-scroll zooming="true" direction="y" style="max-height: 300px">
                                <a href="javascript:;" ng-click="seleDepartmentHandle(item)" ng-repeat="item in seleDepartment">{{item.name}}</a>
                            </ion-scroll>
                        </div>
                    </div>
                </div>

                <div class="kd_sele_box col col-20">
                    <div ng-click="toggleSele('type')" class="kd_sele_val">{{seleTypeInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowTypeSele" style="left: 10%;">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleType" ng-click="seleTypeHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>

                <div class="kd_sele_box col col-20 kd_m">
                    <div ng-click="toggleSele('date')" class="kd_sele_val">{{seleDateInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDateSele" style="left: 15%;">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleDate" ng-click="seleDateHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
  		</div>
        <div class="list_box">
            <div class="list_type_title padding_around padding_small_tb">考核时间：{{data.year}}年{{data.month}}月</div>
            <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
            <div class="item_list_box" ng-repeat="item in items">
                <a href="#/perfomance/details/{{item.jiXiaoId}}" class="row">
                    <div class="col col-15">
                        <span class="name_box">{{item.nickname}}</span>
                    </div>
                    <div class="col col-70">
                        <h2 class="title">{{item.name}}[{{item.department}}]</h2>
                        <p class="info">{{item.title}},PK{{item.pk || '0'}}分</p>
                    </div>
                </a>
            </div>
            <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
        </div>
  	</ion-content>
</ion-view>
