<ion-view view-title="绩效">
	<ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more"></a>
    </ion-nav-buttons>

  	<ion-content>
  		<div class="kd_nav_filter row">
  			<div class="kd_sele_box col col-20">
  				<div class="kd_sele_val">请选择<i class="ion-arrow-down-b"></i></div>
  				<div class="kd_sele_content">
  					<i class="ion-arrow-up-b kd_sele_arrow"></i>
  					<div class="kd_sele_item">
  						<a href="javascript:;">本月</a>
	  					<a href="javascript:;">次月</a>
	  					<a href="javascript:;">很多月</a>
  					</div>
  				</div>
  			</div>
  			<div class="col col-offset-20">
  				<button class="kd_btn">类型</button><button class="kd_active_btn kd_btn kd_m">假发</button>
  			</div>
  		</div>
    	<div class="padding">
    		3
    	</div>
  	</ion-content>
</ion-view>
