<ion-view view-title="绩效">
	<ion-nav-buttons side="right">
      <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-positive"></a>
    </ion-nav-buttons>

  	<ion-content>
  		<div class="kd_nav_filter">
            <div class="padding_around row">
      			<div class="kd_sele_box col-25">
                    <div ng-click="toggleSele('brank')" class="kd_sele_val">{{seleBrankInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowBrankSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleBrank" ng-click="seleBrankHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col-25 kd_m">
                    <div ng-click="toggleSele('department')" class="kd_sele_val">{{seleDepartmentInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDepartmentSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>

                        <div class="kd_sele_item">
                            <ion-scroll zooming="true" direction="y" style="max-height: 200px">
                                <a href="javascript:;" ng-click="seleDepartmentHandle(item)" ng-repeat="item in seleDepartment">{{item.name}}</a>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
                
      			<div class="col text_align_right">
      				<button class="kd_btn">全部</button>
                    <button class="kd_active_btn kd_btn kd_m">加分</button>
                    <button class="kd_btn">扣分</button>
      			</div>
            </div>
  		</div>
        <div class="list_box">
            <div class="list_type_title padding_around">考核时间：2017年6月</div>
            <div class="item_list_box" ng-repeat="item in items">
                <a href="#/perfomance/details/{{item.id}}" class="row">
                    <div class="col col-20 text_align_center">
                        <span class="name_box">伟恒</span>
                    </div>
                    <div class="col col-70">
                        <h2 class="title">{{item.name}}</h2>
                        <p class="info">{{item.marks}}</p>
                    </div>
                </a>
            </div>
            </div>
        </div>
  	</ion-content>
</ion-view>
