<ion-view view-title="绩效列表 {{titleName}}">

	<ion-nav-buttons side="left">  
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
  	</ion-nav-buttons>

	<ion-content>
		<div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
		
		<div class="list_box padding_tb" ng-repeat="item in items">
			<a href="#/perfomance/details/{{item.jiXiaoId}}" class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
                        <div class="box_center" style="height: 78px;">
                        	<span class="name_box">{{item.nickname}}</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border_btm padding_tb">
                        	<div class="row">
                        		<p class="title col">{{item.titleNew}}</p>
                        		<p class="info col text_align_right">考核人：{{item.name}}</p>
                        	</div>
                        </div>
                        <p class="title padding_tb">{{item.title}}</p>
                    </div>
				</div>
			</a>
			<a href="#/perfomance/details/{{item.jiXiaoId}}" class="item_list_box">
				<div class="row">
					<div class="col col-20 text_align_center">
						<span class="info f14">原由：</span>
					</div>
					<div class="col">
						<span class="title">{{item.reason}}</span>
					</div>
				</div>
			</a>
			<a href="#/perfomance/details/{{item.jiXiaoId}}" class="item_list_box" ng-if="item.pics.length">
				<div class="details_img_thumbnail clearfix">
					<img src="{{img.path}}" ng-repeat="img in item.pics"/>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>