<ion-view view-title="绩效查询" hide-nav-bar="isSearchVal">

    <ion-nav-buttons side="left">  
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

  	<ion-content>
        <div ng-if="isSearchVal" class="padding_btm_small">
            <form action="javascript:return true;">
                <ion-header-bar class="item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" id="js_search" ng-blur="handleSearch()" placeholder="搜索" ng-model="data.keywords"/>
                    </label>
                    <button class="button button-light" ng-click="cancelSearch()">取消</button>
                </ion-header-bar>
            </form>
        </div>
        
        <div class="kd_nav_filter">
            <div class="padding_around row">
                <div class="kd_sele_box col-25">
                    <div ng-click="toggleSele('brank')" class="kd_sele_val">{{seleBrankInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowBrankSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleBrank" ng-click="seleBrankHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col-25 kd_m">
                    <div ng-click="toggleSele('department')" class="kd_sele_val">{{seleDepartmentInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDepartmentSele">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>

                        <div class="kd_sele_item">
                            <ion-scroll zooming="true" direction="y" style="max-height: 300px">
                                <a href="javascript:;" ng-click="seleDepartmentHandle(item)" ng-repeat="item in seleDepartment">{{item.name}}</a>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
                <div class="kd_sele_box col col-20">
                    <div ng-click="toggleSele('date')" class="kd_sele_val">{{seleDateInfo}}<i class="ion-arrow-down-b"></i></div>
                    <div class="kd_sele_content" ng-show="isShowDateSele" style="left: 15%;">
                        <i class="ion-arrow-up-b kd_sele_arrow"></i>
                        <div class="kd_sele_item">
                            <a href="javascript:;" ng-repeat="item in seleDate" ng-click="seleDateHandle(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  		<div class="bar item-input-inset" ng-if="isSearchTxt">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-focus="showSearch()" ng-model="data.keywords" type="search" placeholder="搜索">
            </label>
        </div>

        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

        <div class="list_box">
            <div class="row border_btm padding_tb" style="background: white;">
                <div class="col col-offset-10 col-50">部门/姓名</div>
                <div class="col text_align_center">分值</div>
                <div class="col text_align_center">排名</div>
            </div>
            <div class="notData" ng-if="notTaskListData">{{notTaskListData}}</div>
            <div class="item_list_box" ng-repeat="item in items">
                <a href="#/perfomance/list/{{queryDate}}_{{item.userId}}" class="row">
                    <div class="col col-15">
                        <span class="name_box">{{item.nickname}}</span>
                    </div>
                    <div class="col col-50">
                        <p class="info f14">{{item.departmentName}}</p>
                        <p class="title f14">{{item.name}}</p>
                    </div>
                    <div class="col colorPurple text_align_center">{{item.fenZhi}}</div>
                    <div class="col colorRed text_align_center">{{item.sort}}</div>
                </a>
            </div>
        </div>
  	</ion-content>
</ion-view>