<ion-view view-title="消息" hide-nav-bar="isSearchVal">
	<ion-content>
		<div ng-if="isSearchVal" class="padding_btm_small">
		    <ion-header-bar class="item-input-inset">
		        <label class="item-input-wrapper">
		            <i class="icon ion-ios-search placeholder-icon"></i>
		            <input type="search" placeholder="Search" ng-model="searchContent">
		        </label>
		        <button class="button button-light" ng-click="cancelSearch()">取消</button>
		    </ion-header-bar>
		</div>

		<div class="padding" ng-if="isSearchTxt">
			<div class="bar search_box bar-header item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input ng-focus="showSearch()" type="search" placeholder="搜索" />
				</label>
	        </div>
		</div>
		
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="list_box">
        	<ion-item class="item_list_box" ng-repeat="item in items">
        		<div class="row">
	        		<div class="col col-10 left_icon_box">
	        			<span class="list_icon_box">
	        				<img src="{{item.icon || 'img/logo.png'}}" class="left_icon" />
	        			</span>
	        			<span class="red-point"></span>
	        		</div>
	        		<div class="col col-67">
	        			<h2 class="title">{{item.name}}</h2>
		        		<p class="info">{{item.intro}}</p>
	        		</div>
	        		<div class="col col-20 text_align_right">{{item.time}}</div>
        		</div>
        		<ion-option-button class="button-assertive">
		          删除
		        </ion-option-button>
        	</ion-item>
        </ion-list>
        <div>{{phoneData}}</div>
        <div>
        	<img src="" id="myImage">
        </div>
	</ion-content>
</ion-view>
