<ion-view view-title="回访详情">
    <ion-nav-buttons side="left">  
        <a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="showNav()" class="ion-more button button-clear button-light"></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="list_box padding_btm_small">
            <div class="item_list_box">
                <div class="row padding_btm_small">
                    <div class="col">
                        <p class="title">{{item.customer.name}}</p>
                    </div>
                    <div class="col info col-67">
                        <p>微信：{{item.customer.weChat}}</p>
                    </div>
                </div>
                <div class="row padding_btm_small">
                    <div class="col info">
                        <P>{{item.customer.telephone}}</P>
                    </div>
                    <div class="col info">
                        <p class="colorPurple">{{item.customer.customerType.name}}</p>
                    </div>
                    <div class="col info">
                        <p class="info">{{item._star}}</p>
                    </div>
                </div>
                <div class="row padding_btm_small" ng-if="item.customer.consumptionRecords.length">
                    <div class="col info col-20">购买记录</div>
                    <div class="col info">
                        <div class="row" ng-repeat="consumption in item.customer.consumptionRecords">
                            <div class="col">
                                <p>{{consumption.name}}</p>
                            </div>
                            <div class="col">
                                <p>&yen;{{consumption.settlementPrice}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list_box padding_btm_small">
            <div class="item_list_box" ng-if="item.visitRecord">
                <p>回访记录：<span class="colorPurple">{{item.visitRecord}}</span></p>
                <div class="row info f14">
                    <div class="col">访问时间：{{item._visitTime}}</div>
                    <div class="col">跟进人：{{item.creater.name}}</div>
                </div>
            </div>
        </div>
        <div class="list_box">
            <div class="item_list_box" ng-repeat="consumption in item.customer.consumptionRecords">
                <div class="row">
                    <div class="col col-20 left_icon_box">
                        <span class="name_box">{{consumption.nickname}}</span>
                    </div>
                    <div class="col col-80">
                        <p class="title f14">导购员：{{consumption.creater.name}}</p>
                        <p class="info">{{consumption._consumptionTime}}</p>
                    </div>
                </div>
                <div class="padding_tb">
                    <div class="row padding_btm_small">
                        <div class="col col-20">&nbsp;</div>
                        <div class="col">
                            <p class="title 14">品名：{{consumption.name}}</p>
                        </div>
                        
                    </div>
                    <div class="row padding_btm_small">
                        <div class="col col-20">&nbsp;</div>
                        <div class="col">
                            <p class="title f14">标价：&yen;{{consumption.price}}</p>
                        </div>
                        <div class="col">
                            <p class="title f14">折扣：{{consumption.discount}}折</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-20">&nbsp;</div>
                        <div class="col">
                            <p class="title f14">结算价：&yen;{{consumption.settlementPrice}}</p>
                        </div>
                        <div class="col">
                            <p class="title f14">方式：{{consumption.consumptionMode.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>