<ion-view view-title="回访修改">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:;" ng-click="submit()" class="button button-clear button-royal">提交</a>
    </ion-nav-buttons>

	<ion-content>

        <div class="list">
            <a href="#common/seleCustomer/3" class="item item-icon-right">
                客户姓名
                <span class="item-note">{{data.clientIdSele.name}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <div class="item item-icon-right" ng-click="showSeleVisitType()">
                回访类型
                <span class="item-note">{{data.seleVisitType}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <textarea placeholder="回访内容" ng-model="data.visitRecord"></textarea>
            </div>
        </div>
	</ion-content>
</ion-view>