<ion-view view-title="工作">
	<ion-content>
		<style type="text/css">
			.red-point:after{
				right: 20%;
			}
		</style>
		<div class="list_box">
			<div class="padding_around padding_small_tb list_type_title">工作</div>
			<a href="{{item.link || 'javascript:;'}}" class="item_list_box" ng-repeat="item in items">
				<div class="row">
	        		<div class="col col-15 text_align_center list_icon_mid_box">
	        			<span class="list_icon_box">
	        				<img src="{{item.icon}}" class="left_icon" />
	        			</span>
	        			<span class="red-point" ng-if="!item.isView"></span>
	        		</div>
	        		<div class="col col-67">
	        			<h2 class="title">{{item.name}}</h2>
		        		<p class="info">{{item.info}}</p>
	        		</div>
	        		<div class="col col-15 text_align_right">
	        			<span class="badge badge-assertive">{{item.count}}</span>
		    			<i class="icon ion-chevron-right icon-accessory"></i>
	        		</div>
        		</div>
			</a>
		</div>
		<div class="list_box">
			<div class="padding_around padding_small_tb list_type_title">CRM</div>
			<a href="{{item.link || 'javascript:;'}}" class="item_list_box" ng-repeat="item in itemsCrm">
				<div class="row">
	        		<div class="col col-15 text_align_center list_icon_mid_box">
	        			<div class="list_icon_box">
	        				<img src="{{item.icon}}" class="left_icon" />
	        			</div>
	        		</div>
	        		<div class="col col-67">
	        			<h2 class="title">{{item.name}}</h2>
		        		<p class="info">{{item.info}}</p>
	        		</div>
	        		<div class="col col-15 text_align_right">
	        			<span class="badge badge-assertive">{{item.count}}</span>
		    			<i class="icon ion-chevron-right icon-accessory"></i>
	        		</div>
        		</div>
			</a>
		</div>
		<div class="list_box">
			<div class="padding_around padding_small_tb list_type_title">学习资料</div>
			<a href="{{item.link || 'javascript:;'}}" class="item_list_box" ng-repeat="item in itemsLearn">
				<div class="row">
	        		<div class="col col-15 text_align_center list_icon_mid_box">
	        			<div class="list_icon_box">
	        				<img src="{{item.icon}}" class="left_icon" />
	        			</div>
	        		</div>
	        		<div class="col col-67">
	        			<h2 class="title">{{item.name}}</h2>
		        		<p class="info">{{item.info}}</p>
	        		</div>
	        		<div class="col col-15 text_align_right">
	        			<span class="badge badge-assertive">{{item.count}}</span>
		    			<i class="icon ion-chevron-right icon-accessory"></i>
	        		</div>
        		</div>
			</a>
		</div>
	</ion-content>
</ion-view>