<ion-view view-title="案例分享">
	<ion-nav-buttons side="left">  
    	<a href="javascript:history.back(-1)" class="icon button button-icon ion-ios-arrow-back" nav-direction="back"></a>  
    </ion-nav-buttons>

	<ion-content>
        <div class="list_box padding_btm">
            <div class="item_list_box">
                <div class="row">
                    <div class="col col-50">
                        <p class="title">{{item.sharingName}}</p>
                    </div>
                    <div class="col">
                        <p class="info">{{item.userName}}</p>
                    </div>
                    <div class="col"><p class="info">评论({{item.commentCount}})</p></div>
                    <div class="col" ng-click="clickThumbUp()"><p class="info">赞({{item.thumbUpCount}})</p></div>
                </div>
                <p class="info">分享点：{{item.sharingPoint}}</p>
                <div class="row">
                    <div class="col">
                        <p class="info border_btm">{{item.customerCategory}}</p>
                        <p class="info">{{item.purchasePurpose}}</p>
                    </div>
                    <div class="col">
                        <p class="info border_btm colorPurple">{{item.goodsCategory}}</p>
                        <p class="info">{{item.customerAge}}</p>
                    </div>
                    <div class="col">
                        <p class="info border_btm">{{item.peopleNumber}}</p>
                        <p class="info colorPurple">{{item.transactionAmount}}</p>
                    </div>
                    <div class="col">
                        <p class="info border_btm">{{item.peopleRelationship}}</p>
                    </div>
                </div>
            </div>

            <div class="item_list_box">
                <p class="title f14">过程描述：</p>
                <p class="info">{{item.procedureDescription}}</p>
            </div>
        </div>

        <div class="list_box">
            <div class="item_list_box">
                <div ng-repeat="item in reportList">
                    <div class="row">
                        <div class="col col-20 text_align_center">
                            <span class="list_icon_box">
                                <span class="name_box" style="background: #a4a4a4;">{{item.nickname}}</span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="item_list_box" style="padding-top: 0;">
                                <div class="row">
                                    <div class="col col-67">
                                        <p class="info f14">{{item.commentUserName}}</p>
                                        <p class="title">{{item.comment}}</p>        
                                    </div>
                                    <div class="col">
                                        <p class="info">{{item._commentTime}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%" ></ion-infinite-scroll>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <div class="row">
            <input type="text" ng-model="data.commentReport" name="" class="col col-75" />
            <a href="javascript:;" class="col col-10 col-offset-10 box_align" ng-click="sendReport()">发送</a>
        </div>
    </div>
</ion-view>